

body{
    margin: 0;
    padding: 0;
    }
.articulo{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.iconomenu{
    width: 52px;
}
p{
    margin: 10px auto 10px auto;
}
.articulo img{
    width: 100%;
    border-radius: 30px;
}
.articulo ul li{
    margin-left: -50px;
}
img{
    width: 50%;
}
.listaPatas{
   /*  background-color: rgb(43, 83, 226, 0.7 ); */
    color: white;
    font-size: 15px;
}
.listaPatas li{

    font-size: 20px;
}

p{
    font-size: 30px;
    width: 70%;
    padding: 10px;
    color: aliceblue;
    text-shadow: 1px 1px 5px black;
 
}
@media (min-width: 750px){
    .articulo img{
        width: 30%;
    }
.articulo{
    display: flex;
    flex-direction:column;
}
p{
    font-size: 30px;
    width: 50%;
    color: aliceblue;
    background-color: rgb(43, 83, 226, 0.5  );
}
ul li{
    font-size: 25px;
}

    .articulo{
        display: flex;
        align-items: center;
        justify-content: center;
       margin: 0 0 0 0 ;}
}
