body{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;

   
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: 0px;
    color: black;
    font-weight: 400;
    background-color: rgb(253, 187, 116,0.7);
}
.card img{
    width: 100%;
}
article h2{
    text-align: center;
    padding: 20px;
}
.articulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-1{
    color: white;
    font-weight: 800;
}
header{
    height: 80px;
    z-index: 100;
}
@media (min-width: 750px){
    .titulo-1{
        font-size: 50px;
        color: white;
    }
    .card img{
        width: 50%;
    }
  
    
    div{
        align-items: center;
        justify-content: center;
        width: 100%;
    margin: 10px auto 0 auto;   
    }
.card-title{
text-align: center;
font-size: 30px;
}
.card{
    display: flex;
flex-direction:row;
align-items: center;
justify-content: center;      
min-width: 800px;
border-radius: 50px;
border: 0px;
}
.card img{
  padding: 25px;
  border-radius: 50px;
}
.card-body p{
margin: 5px;}
.articulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-right: 45%;}

    section{
        margin: 0 auto 0 auto;
}

}